<div id="pitch">
	<h1>
	  Homebrewing meets social media
	</h1>
	<h2>
	  KitchenBrewer is a resource for homebrewers. It integrates with social networks like Twitter and Facebook to help connect you with other brewers.
	</h2>
</div>

<div class="third">
	<h3>Log Your Progress</h3>
	<p>
	  Use our brewing journal to track your brew from boil to glass. 
	</p>
</div>
<div class="third">
	<h3>Share Your Recipes</h3>
	<p>
	  Post your recipes for others to try.
	</p>
</div>
<div class="third last">
	<h3>Get Help</h3>
	<p>
	  Get help from other members when you have questions.
	</p>
</div>