<ul id="menu">
  <% if current_user %>
  <li><%= link_to_unless_current "Welcome", root_path %></li>
  <li><%= link_to_unless_current "Journal", brews_path %></li>
	<li><%= link_to_unless_current "Recipes", recipes_path %></li>
	<% end %>
</ul>